# General
.DS_Store
*.log

# Environments
.env
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Node / JS
node_modules/
.npm/
.yarn/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
# out/

# Rust
target/
**/*.rs.bk

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
nexpyrs_icon_*.png
*.bak
